.login-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo-container h1 {
  background: linear-gradient(to right, #f77c34, #f05f6f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.titulo-container p {
  background: linear-gradient(to right, #f77c34, #f05f6f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  border: 1px solid #f5cb71;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
}

.titulo-container form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

