

.list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


.list-header {
  display: flex;
  margin-top: 5rem;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.list-header h2 {
  font-size: 1.8rem;
  background: linear-gradient(to right, #f77c34, #f05f6f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin: 0;
}

.list-titulo {
  text-align: left;
  margin: 0;
}

.list-titulo p {
  font-size: 1rem;
  color: #5a4438;
  font-weight: 600;
  margin: 0;
  opacity: 0.6;
}

.list-tutores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 2rem;
}