.card-container {
    background-color: rgba(255, 250, 250, 0.651);
    width: 22rem;
    min-height: 12rem; 
    padding: 20px;
    border-radius: 16px;
    border: 3px solid #eff1ee;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
}

.card-container .actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.card-container:hover {
  transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(247, 240, 212, 0.993);
}


.card-container .info {
    display: flex;
    flex-direction: column;
}


.card-container .info h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #5a4438;
}

.card-container .info p {
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    margin: 4px 0;
    text-align: left;
}


