.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    border-bottom: 1.6px solid #eae4d7;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    background-color:#ffffff;
    z-index: 1000;  
}

.header-info h3 {
    background: linear-gradient(to right, #f77c34, #f05f6f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 20px;
    font-size: 24px;
}

.header-user {
    padding-right: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-user span {
    background: linear-gradient(to right, #f77c34, #f05f6f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
