.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 250, 250, 0.651);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(247, 240, 212, 0.993);
}

.modal-container .modal {
    background-color: #fff;
    border: 3px solid #eff1ee;
    padding: 30px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.modal .acoes {
    display: flex;
    gap: 50px;
    width: 40%;
    justify-content: center;
}

.acoes .btn-cancel {
    height: 40px;
}

.modal-container .modal h1 {
    font-size: 20px;
}